@model MyChushka.WebApp.ViewModels.Orders.AllOrdersViewModel

<tr class="row">
    <th class="col-md-1">@this.Model.Number</th>
    <td class="col-md-4">@this.Model.Id</td>
    <td class="col-md-2">@this.Model.CustomerName</td>
    <td class="col-md-2">@this.Model.ProductName</td>
    <td class="col-md-2">@this.Model.OrderedOn</td>
</tr>